.serviceHoverCard {
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius-md);
    padding: 2.5rem 2rem;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
    z-index: 1;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 350px;
}

.serviceBg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
}

.serviceHoverCard::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
}

.serviceHoverCard:hover {
    box-shadow: var(--shadow-md);
}

.serviceHoverCard:hover .serviceBg,
.serviceHoverCard:hover::after {
    opacity: 1;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
}

.serviceHoverCard:hover .serviceTitle,
.serviceHoverCard:hover .serviceDesc {
    color: var(--bg-white);
}

.icon_container{
    background-color: var(--primary-color);
    width: fit-content;
    padding: 0.7rem;
    border-radius: 50%;
    height: 100%;
}

.serviceIcon {
    width: 32px;
    height: auto;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.btnExplore {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-sm);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: var(--transition);
    background-color: var(--bg-white);
}

.serviceHoverCard:hover .btnExplore {
    border-color: var(--bg-white);
    color: var(--primary-color);
    background-color: var(--bg-white);
}

.serviceHoverCard:hover .btnExplore:hover {
    background-color: var(--primary-color);
    color: var(--bg-white);
    border-color: var(--primary-color);
}