.container {
  max-width: 1200px;
  margin: 0 auto;
}

.description {
  font-size: 24px;
  line-height: 200%;
  letter-spacing: 5%;
  color: var(--description-color);
  margin-bottom: 50px;
}

.image_big {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.images_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.images_container img {
  width: 48%;
  height: auto;
}

.section_container img{
  border-radius: 32px;
}