.serviceDetails {
    padding: 5rem 0;
    background-color: var(--bg-white);
}

.serviceDetailsHeader {
    margin-bottom: 3rem;
}

.serviceDetailsTitle {
    font-size: 2.5rem;
    color: var(--text-main);
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

.serviceDetailsSubtitle {
    color: var(--text-muted);
    font-size: 1rem;
    margin: 0;
}


.serviceDetailsContent {
    display: flex;
    align-items: stretch; 
    gap: 3rem; 
}

.serviceImage {
    flex: 1; 
    display: flex;
}

.serviceImage img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    display: block;
    border-radius: var(--border-radius-md);
}

.serviceText {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 1rem 0; 
}

.serviceDescLarge {
    margin: 0;
    line-height: 1.8; 
    font-size: 1.5rem;
    text-align: justify; 
}


.serviceAdvantages {
    margin-top: 4rem;
    padding-top: 3rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.advantagesTitle {
    font-size: 1.8rem;
    color: var(--text-main);
    font-weight: 700;
    margin-bottom: 32px;
}

.advantagesList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.advantagesList li {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 1.1rem;
    color: var(--text-main);
    magin-left: 20px;
}


@media (max-width: 991px) {
    .serviceDetailsContent {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
    .serviceDetailsTitle {
        font-size: 2rem;
    }
}